h1{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

h2{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    float: left;
}

@media (min-width: 320px) /*mobile*/{
    
}

@media (min-width: 600px) /*tablet*/{

}

@media (min-width: 801px) /*laptop*/{

}

@media (min-width: 1025px) /*desktop*/{

}